<div class="col-md-4 hidden-xs">
 	{{> book}}
 	{{> pre-order}}
</div>
<div class="col-md-8">
	{{> title }}
	{{> nav}}
	<div class="col-md-8 hidden-sm hidden-md hidden-lg">
 		{{> book}}
 		{{> pre-order}}
	</div>
	<div class="col-md-8">
		<h2 class="page-title">{{basename}}</h2>
		{{#each reviews.quotes}}
		    <blockquote>
			  <p>“{{quote}}”</p>
			  <small>
			  	{{source}}
				{{#if sourceOrg}}
				 <cite title="{{sourceOrg}}">{{sourceOrg}}</cite>
				{{/if}}
			  </small>
			</blockquote>
		{{/each}}
	</div>

	<div class="col-md-4">
		<img src="img/author-jeff-diamond2.jpg" alt="Jeffrey L Diamond" class="profile-pic author-pic img-responsive img-rounded" />
	</div>
</div>